/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Aa]ssetPackage/
/[Hh]ybridCLRData/
/[Oo]ut/
/[Ll]ogs/
/[Uu]serSettings/
/[Mm]p4/

/AssetBundles/
/Build/Out/
/UnityPackageManager/*
/Assets/AssetStoreTools*
/Assets/GameMain/Speechs/
/.vs/
/.idea/


*.csproj
*.unityproj
*.booproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.svd
*.zip
*.7z
*.apk
*.rar

*_BackUpThisFolder_ButDontShipItWithYourGame
*_BurstDebugInformation_DoNotShip
!/Assets/StreamingAssets/.gitkeep


/Assets/StreamingAssets/GameMain
/Assets/StreamingAssets/GameMain.meta
/Assets/StreamingAssets/GameFrameworkVersion.dat
/Assets/StreamingAssets/GameFrameworkVersion.dat.meta
